/* ------------------------------------------------------Set variables--------------------------------------------- */
:root {
  --identity-primary: #e6d080;

  --grayscale-dark: #212121;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;

  --headline-font-size: 24px;
  --body1-font-size: 14px;
  --body2-font-size: 12px;
  --body3-font-size: 15px;
  --subtitle1-font-size: 14px;
  --subtitle2-font-size: 12px;
  --subtitle3-font-size: 10px;
  --caption-font-size: 8px;

  --headline-line-height: 32px;
  --common-line-height: 16px;
  --caption-line-height: 12px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --drop-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
  --drop-shadow-hover: 0px 3px 12px 3px rgba(0, 0, 0, 0.2);
  --drop-shadow-inner: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
}

/* *{
   margin: 0 rem;
   padding: 0 rem;
}
body{
   background-color: #e6d080;
} */
/* -------------------------------------------------------Common Properties----------------------------------------- */

body {
  background-color: #e6d080;
}

body {
  margin: 0;
  margin-bottom: 100px;
  height: 100vh;
  width: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h2,
h3,
h4,
.body1-fonts,
.body2-fonts,
.body3-fonts {
  line-height: var(--common-line-height);
}

h1 {
  font-size: var(--headline-font-size);
  line-height: var(--headline-line-height);
}

h2 {
  font-size: var(--subtitle1-font-size);
}

h3 {
  font-size: var(--subtitle2-font-size);
}

h4 {
  font-size: var(--subtitle3-font-size);
}

.body1-fonts {
  font-size: var(--body1-font-size);
}

.body2-fonts {
  font-size: var(--body2-font-size);
}

.body3-fonts {
  font-size: var(--body3-font-size);
}

.caption-fonts {
  font-size: var(--caption-font-size);
  line-height: var(--caption-line-height);
}

input:focus-visible {
  outline: 0;
}

.featured-img a.arrow.hidden {
  display: none;
}

/* --------------------------------------------------------------Home Page------------------------------------------ */
.main {
  margin: 0;
  padding: 0;
  background-color: var(--identity-primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.header.home {
  width: 90%;
}

.container {
  width: 100%;
  margin: 0;
}

/* logo wrapper started*/
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.logo-wrapper img {
  margin-top: 10px;
  margin-left: 10px;
  height: 4rem;
  width: 10rem;
  padding-bottom: 10px;
}

/* logo wrapper ended */



/* Search wrapper */
.wrap-header {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

.search-wrapper,
.search-wrap {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 16px;
}

.search-wrap {
  position: relative;
  background-color: var(--grayscale-white);
  border-radius: 16px;
  box-shadow: var(--drop-shadow-inner);
  height: 32px;
  gap: 8px;
}

.search-icon {
  margin-left: 16px;
}

.search-wrap svg path {
  fill: var(--identity-primary);
}

.search-wrap>input {
  width: 60%;
  border: none;
}

.sort-wrapper {
  position: relative;
  cursor: pointer;
}

.sort-wrap {
  background-color: var(--grayscale-white);
  width: 30px;
  border-radius: 50%;
  height: 30px;
  box-shadow: var(--drop-shadow-inner);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#sort-icon {
  color: rgb(216, 200, 18);
  font-weight: 700;
}

#search-icon {
  color: rgb(216, 200, 18);
  font-weight: 700;
}

/* Search wrapper ended */


/* serach closed Started */
.search-close-icon {
  position: absolute;
  right: 1rem;
  display: none;
  cursor: pointer;
  color: #e6d080;
}

.search-close-icon-visible {
  display: block;
}

/* serach closed ended */

/* Filter overlay started */
.filter-wrapper {
  position: absolute;
  background: #e6d080;
  border: 4px solid var(--identity-primary);
  border-top: 0;
  border-radius: 12px;
  padding: 0px 4px 4px 4px;
  right: 0px;
  box-shadow: var(--drop-shadow-hover);
  min-width: 200px;
  top: 40px;
  display: none;
  z-index: 5000;
}

.sortby {
  font-size: 1rem;
}

.filter-wrapper-open {
  display: block;
}

.filter-wrapper-overlay .main::before {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.filter-wrapper>.body2-fonts {
  color: rgb(136, 130, 12);
  font-weight: var(--font-weight-bold);
  padding: 16px 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.filter-warp .body3-fonts {
  color: rgb(99, 97, 39);
  font-weight: 600;
}

.filter-wrap {
  background-color: var(--grayscale-white);
  box-shadow: var(--drop-shadow-inner);
  padding: 16px 20px;
  border-radius: 8px;
}

.filter-wrapper>hr {
  border-color: rgb(168, 165, 59);
  opacity: 40%;
}

.filter-wrap>div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.filter-wrap>div:last-child {
  margin-bottom: 0px;
}

.filter-wrap input {
  accent-color: var(--identity-primary);
}

/* Filter overlay closed */
/*--------------------------------------------------------- pokemon template----------------------------------------------------- */
.template {
  background-color: var(--grayscale-white);
  box-shadow: var(--drop-shadow-inner);
  border-radius: 0.75rem;
  min-height: calc(85% - 1rem);
  width: calc(98% - 1rem);
  max-height: 100px;
  overflow-y: auto;
  /* //border: 2px solid black; */
}

.pokemon-list {
  overflow: visible;
  width: 100%;
  height: 400px;
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-evenly;
}

.list-item {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  flex: 0 1 18rem;
}

.back-content>img {
  height: auto;
  width: 15rem;
  margin: auto;
}

.front,
.back {
  background-color: #313121;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: var(--identity-primary);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.list-item:hover {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .number-wrap {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.name-wrap {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-wrap p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Load More-------------- */
.more-btn{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#load-more-btn {
  height: 4rem;
  width: 10rem;
  background-color: rgb(255, 234, 0);
  border: 2px solid rgb(117, 133, 12);
  border-radius: 15px;
  color: rgb(50, 57, 10);
  padding: 15px;
  font-size: large;
  font-style: var(--body1-font-size);
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
  box-shadow: 5px 4px 20px rgb(129, 131, 8);
}
#load-more-btn > a{
  text-decoration: none;
  color: rgb(50, 57, 10);
}

/* ------------------------------------------------------------------Detail Page-------------------------------------------- */
.detail-main {
  overflow-x: hidden;
}

.detail-main .header {
  padding: 20px 20px 24px 20px;
  position: relative;
  z-index: 2;
  width: 90%;

}

.detail-main .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.detail-main .header-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.detail-main .back-btn-wrap {
  max-height: 10rem;
  text-decoration: none;
}

#back-btn {
  font-size: 3rem;
  color: lightgoldenrodyellow;
}


.detail-main .header-wrapper p,
.detail-main .header-wrapper h1 {
  fill: var(--grayscale-white);
  color: var(--grayscale-white);
}

.detail-main .name-wrap>.name {
  color: lightgoldenrodyellow;
}

.detail-main .pokemon-id-wrap p {
  font-weight: var(--font-weight-bold);
  font-size: 2rem;
  color: lightgoldenrodyellow;
}

.detail-img-wrapper {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  z-index: 3;
}

.arrow {
  text-decoration: none;
  color: lightgoldenrodyellow;
  font-size: 2rem;
}

.detail-img-wrapper img {
  width: 100%;
  height: 100%;
  align-items: center;
}

/* Detail card */
.detail-card-detail-wrapper {
  border-radius: 8px;
  background-color: rgb(243, 243, 229);
  box-shadow: var(--drop-shadow-inner);
  padding: 60px 5px 60px 5px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.power-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.power-wrapper>p {
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: var(--font-weight-bold);
  color: var(--grayscale-white);
  text-transform: capitalize;
  background-color: #74cb48;
}

.pokemon-detail-wrap .pokemon-detail>img {
  height: 1rem;
  width: 1rem;
  color: #313121;
}

.pokemon-detail.move p {
  text-transform: capitalize;
  /* word-break: break-all; */
  line-height: 0px;
}

.list-item .name-wrap p {
  text-transform: capitalize;
}

.detail-card-detail-wrapper {
  max-height: 100rem;
}

.detail-card-detail-wrapper .about-text {
  font-weight: var(--font-weight-bold);
  text-align: center;
  font-size: 20px;
}

.ability-container {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.ability-container .pokemon-detail-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex: 1 0 0;
}

.ability-container .pokemon-detail-wrap .pokemon-detail {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.pokemon-detail-wrapper .pokemon-detail-wrap {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.pokemon-detail-wrap:before {
  content: "";
  background-color: var(--grayscale-light);
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.pokemon-detail-wrap:last-child::before {
  display: none;
}

.pokemon-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 8px;
}

.pokemon-detail-wrapper {
  min-height: 70px;
  max-width: 100vh;
  padding: 0px 200px;
}

.pokemon-detail-wrapper .pokemon-detail-wrap {
  display: flex;
}

.pokemon-detail.move {
  display: flex;
  gap: 0px;
  padding: 0px;
  flex-direction: column;
}

.pokemon-detail-wrap {
  border-right: 2px solid #E0E0E0;
}

.pokemon-detail-wrap:nth-last-child(1) {
  border-right: transparent;
}

.pokemon-detail-wrap>.caption-fonts {
  color: var(--grayscale-medium);
  display: flex;
  padding: 5px 0px;
  justify-content: center;
  align-items: end;
  gap: 5px;
  align-self: stretch;
}

/* .pokemon-detail-wrap .straighten {
  transform: rotate(90deg);
} */

.detail-card-detail-wrapper .pokemon-description {
  color: var(--grayscale-dark);
  text-align: center;
}

.stats-wrap {
  display: flex;
  align-items: center;
}

.stats-wrap p {
  color: var(--grayscale-dark);
  margin-right: 8px;
  min-width: 19px;
}

.stats-wrap p.stats {
  text-align: right;
  padding-right: 8px;
  min-width: 35px;
  border-right: 1px solid var(--grayscale-light);
  font-weight: var(--font-weight-bold);
}

.stats-wrap .progress-bar {
  flex: 1;
  border-radius: 4px;
  height: 4px;
}

.stats-wrap .progress-bar::-webkit-progress-bar {
  border-radius: 4px;
}

.stats-wrap .progress-bar::-webkit-progress-value {
  border-radius: 4px;
}

.detail-bg {
  position: absolute;
  z-index: 1;
  right: 8px;
  top: 8px;
  opacity: 0.1;
}

.detail-bg path {
  fill: var(--grayscale-white);
}

div#not-found-message {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
}


.featured-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  justify-content: space-between;
}

.featured-img a.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.featured-img a.arrow.left-arrow {
  left: -2rem;
}

.featured-img a.arrow.right-arrow {
  right: -2rem;
}

.detail-main.main {
  height: max-content;
  border-color: transparent;
  background-color: transparent;
}

.home-foot{
  text-align: center;
  color: rgb(120, 120, 12);
}

.ri-heart-3-fill {
  color: #9c1212;
}

.copy {
  font-size: small;
}
.detail-foot{
    text-align: center;
    color: rgb(246, 246, 211);
}